.search-results {
  margin-top: 20px;
  .masonry {
    width: 100%;
  }
  .result-card {
    width: 262.5px;
    height: 450px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    background:white;
    transition: all 200ms;
    cursor: pointer;

    .result-card-content {
      padding: 10px;
      background:#f1f1f1;
      height: 187.5px;
      position: absolute;
      bottom: 0;
      transition: all 200ms;
    }
    .result-card-shadow {
      &:after {
        content:' ';
        position: absolute;
        transition: all 200ms;
        background: #3e3e3e;
        opacity: 0;
        width: 100%;
        padding-bottom: 100%;
        z-index: 1;
      }
      width: 100%;
      padding-bottom: 100%;
      position: absolute;
      a {
        border: 2px solid white;
        padding: 5px 15px;
        background: rgba(0,0,0,0);
        color:white;
        font-size:1.2em;
        text-decoration: none;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 200ms;
        transform: translate(-50%,-50%);
        z-index: 2;
        opacity: 0;
        &:hover {
          background: white;
          color:black;
        }
      }
    }
    .result-img {
      background-position: center;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%;
    }
    .result-card-title {
      font-weight: bold;
      height: 3.4em;
      overflow: hidden;
    }

    .result-card-price {
      font-weight: bold;
      padding-top: 2px;
    }
    .result-card-ori-currency {
      margin-left: 4px;
      font-size: 0.5em;
      color: #afafaf;
    }
    .result-card-ori-amount {
      font-size: 0.5em;
      color: #afafaf;
    }
    .result-card-self-currency {
      color: #009a73;
      font-size: 0.5em;
    }
    .result-card-self-amount {
      color: #009a73;
      font-size: 1.2em;
    }

    .result-card-tag {
      list-style: none;
      padding: 0;
      margin: 0;
      @extend .clearfix;
      li {
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
    .result-card-store {
      position: absolute;
      width: 100%;
      background: rgba(0,0,0,0.3);
      color: white;
      bottom: 100%;
      left:0;
      text-align: right;
      padding-right: 10px;
    }
    .result-model-number {
      font-weight: bold;
    }
    .result-exchange-rate {
      font-size: 0.6em;
    }

    &:hover {
      transform: translate(-2px,-2px);
      -webkit-box-shadow: 5px 5px 5px -6px rgba(173,173,173,1);
      -moz-box-shadow: 5px 5px 5px -6px rgba(173,173,173,1);
      box-shadow: 5px 5px 5px -6px rgba(173,173,173,1);

      .result-card-shadow {
        &:after {
          opacity: 0.5;
        }
        a {
          opacity: 1;
        }
      }
    }
  }
}
